 .profile{
  background-size: 100% 100%  ;
  width: 300px;
  height: 300px;
  position: relative;
 overflow: hidden;

 
   
}
.caption{
  width: 100%;
  height: 100%;
  background-color: rgba( 0,0,0,.5 );
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold ;
  text-align: center;
  transition: all 1s ;
  position: absolute;
  top:100%;
  right: 100%;
}


.profile:hover .caption{
  top: 0;
  right: 0;
  transform: rotate(360deg);
}
.caption h1{
   
    padding: 10px 0px;


}
.sl{
  background-color: red;
  position: absolute;
  top:100%;
  width: 100%;
  background-color: rgba(248, 128, 128, 0.4);
  transition: all 1s;
  transition-delay: 1s;
}


i{

   margin-right:20px ;
  color: rgb(9, 255, 0);
  font-size: 30px;
  

} 
.profile:hover .sl{
  top: 80%;
}
p {
  margin: -20px 0px;
}
.pr{
  display: flex;
  justify-content: space-around;
}
